<!DOCTYPE html>
<html>
<head>
	<title>PUSH TODO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="/css/basscss.css">
	<link rel="stylesheet" href="/css/weui.min.css">
	<script type="text/javascript" src="/js/axios.min.js"></script>
	<script type="text/javascript" src="/js/vue.min.js"></script>
	 
</head>
<body>


<%-body%>



<div class="weui-footer mt3">
		<p class="weui-footer__links">
            <a href="https://github.com/tans/push-todo" class="weui-footer__link">Github源码</a>
            <a href="https://github.com/tans/push-bot" class="weui-footer__link">PUSHBOT</a/>
        </p>
		<div class="weui-footer__text">Copyright © tans</div>
	</div>

</body>
</html>